body {
    display: flex;
    width: 100vw;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(44, 44, 44);
    margin: 0;
    justify-content: center;
}
.photo {
    background-image: url(../Sign-up-Form/halie-west-25xggax4bSA-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: min(40vw, 450px);
    height: auto;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
#foot{
    color: white;
    text-align: center;
    margin-bottom: 0.5rem;
}
#foot > a {
    text-decoration: underline;
    color: white;
    font-size: 15px;
}
.logo {
    background-color: rgba(0, 0, 0, 0.4);
    height: 140px;
    display: flex;
    margin-top: 9rem;
    justify-content: center;
}
@font-face {
    font-family: odinFont;
    src: url(../Sign-up-Form/Norse-Bold.otf);
}
.odin {
    font-family: odinFont;
    font-size: 90px;
    align-self: center;
    color: white;
}
.logo > img {
    max-width: 80%;
    max-height: 80%;
    align-self: center;
}
.container {
    background-color: #f8f8f8;
    width: min(50vw);
    flex-flow: column;
    display: flex;
    justify-content: center;
}
.top, .mid, .bot {
    padding-left: 3rem;
}
.top {
    max-width: 85%;
    padding-bottom: 3rem;
}
.top > p {
    margin: 0;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}
.top :last-child {
    margin-top: 18px;
}
.mid {
    background: white;
    box-shadow: 0 3px 3px -2px gray;
    padding-top: 15px;
    padding-bottom: 15px;
}
.mid > p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: bold;
    margin: 0px;
}

form {
    display: flex;
    justify-content: space-between;
    max-width: min(40vw, 550px);
    margin: 0;
}
input {
    border-radius: 8px;
    border-color: rgba(59, 59, 59, 0.1);
    margin-bottom: 18px;
    width: 125%;
    height: 20%;
}
label {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 10px;
}

#lastName:focus{
    box-shadow: 3px 3px 3px grey;
}

#password:required:invalid, #confirmpassword:required:invalid {
    border-color: red;
}
.formContainer::after {
    content: "*Passwords do not match";
    color: red;
    font-size: 10px;
}
form > p {
    margin-bottom: 10px;
}
a[href=""] {
    text-decoration: none;
    color: #596D48;
    font-weight: bold;
}
.bot > button {
    padding: 10px 42px;
    font-weight: bold;
    color: white;
    background-color: #596D48;
    border-radius: 8px;
    border: transparent;
    box-shadow: 1px 1px 1px gray;
}
.bot > p {
    font-size: 14px;
}
.bot {
    padding-top: 2rem;
}
